<!-- Register Guest Modal -->
<div class="modal fade" id="register-guest-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Register</h4>
      </div>
      <div class="modal-body">
        <div id="modal-flash" style="height: 30px"></div>
        <%= form_for @guest do |f| %>
          <%= hidden_field :guest, :episode_id, value: @episode.id %>
          <%= f.text_field :name, placeholder: "Enter your name", class: "form-control input-lg", maxlength: 10 %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="submit" id="register-guest-btn" class="btn btn-primary" form="new_guest">Go</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(window).load(function() {
    var $registerGuestModal = $('#register-guest-modal');

    $registerGuestModal.modal('show');

    $registerGuestModal.on('shown.bs.modal', function() {
      $('form input[type=text]').focus();
    });

    $('#new_guest').on('submit', function(e) {
      e.preventDefault();

      if (this['guest[name]'].value === '') {
        $('#modal-flash').flash("Please enter a name", {class: 'error'});
        return;
      }

      var formData = $(this).serialize();

      $.ajax({ data: formData, method: this.method, url: this.action })
        .done(function(response) {
          window.reload();
        })
        .fail(function(error) {
          $registerGuestModal.modal('hide');
          $('#flash').flash('ERROR: ' + error);
        });
    });
  });
</script>
