<div id="guest-<%= guest.id %>" class="guest">
  <div>
    <div class="status-dot <%= guest.status %>"></div>
    <h3 <%= 'id=current_user' if current_guest?(guest) %>><%= guest.name %></h3>
  </div>
</div>
