<div id="guest-<%= guest.id %>" class="guest panel panel-default">
  <div class="panel-body">
    <p>
      <h3 <%= 'id=current_user' if cookies.signed[:guest_id] == guest.id %>><%= guest.name %></h3>
    </p>
  </div>
</div>
