<div id="guest-<%= guest.id %>" class="guest">
  <div>
    <i class="fa fa-user<%= '-circle-o' if guest.is_host %> fa-2x <%= guest.status %>" aria-hidden="true"></i>
    <h3><%= guest.name %></h3>
  </div>
</div>
