<div id="guest-<%= guest.id %>" class="guest panel panel-default">
  <div id="guest-panel" class="panel-body">
    <h3 <%= 'id=current_user' if cookies.signed[:guest_id] == guest.id %>>
      <div class="status-dot <%= guest.status %>">
      <%= guest.name %>
      </div>
    </h3>
  </div>
</div>
