<div id="guest-<%= guest.id %>" class="guest">
  <div>
    <i class="fa fa-user fa-2x <%= guest.status %>" aria-hidden="true"></i>
    <h3 <%= 'id=current_user' if current_guest?(guest) %>><%= guest.name %></h3>
  </div>
</div>
