<ul id="recordingslist">
<% if !@episode.nil? %>
  <% @episode.tracks.each do |track| %>
    <li>
      <div>
          <h3><a href="<%= track.url %>"><%= track.name %></a></h3>
          <p>Audio Format: <%= track.audio_format %></p>
      </div>
    </li>
  <% end %>
<% end %>
</ul>
