<div class="row">
  <aside class="col-md-6 well" id="episode-list">
    <ul>
      <%= render @user.episodes %>
    </ul>
  </aside>
  <main class="col-md-6 well">
  <button id="present-new-episode-modal" class="btn btn-primary btn-block" data-toggle="modal" data-target="#new-episode-modal">
      New Episode
    </button>
  </main>
</div>

<!-- Modal -->
<div class="modal fade" id="new-episode-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">New Episode</h4>
    </div>
    <div class="modal-body">
      <%= form_for @episode do |f| %>
        <%= select_tag 'filetype', options_for_select(audio_filetypes) %>
        <%= f.text_field :name, placeholder: "Episode name" %>
      <% end %>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" form="new_episode">Go</button>
    </div>
  </div>
</div>
