<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %> 

  <body>
    <div class="header">
      <div class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <img src="/images/Wellen-lineart-800px.png" alt="WaveCastr" height="80">
            <a class="h1" href="/">WaveCastr</a>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div id="flash">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name unless name == "notice" %>
        <% end %>
      </div>
      <%= render(template: 'episodes/show', layout: false) %>
    </div>
  </body>
</html>
