<div id="guest-list">
  <%= render @episode.guests %>

  <button id="init">init</button>
  <button id="start" disabled>start</button>
  <button id="pause" disabled>pause</button>
  <button id="resume" disabled>resume</button>
  <button id="stopButton" disabled>stop</button>

</div>

<div id="chat-box">
  <!-- Chat will go here -->
</div>
<div id="track-list">
  <ul id="recordingslist">
  <!-- Download buttons for host will be visible here if recording has stopped -->
  </ul>
</div>

<pre id="log"></pre>

<%= render "aws_s3_upload_form.html.erb" %>

<script src="/recorder.min.js"></script>


  <script>

  </script>



