<div id="guest-list">
  <%= render @episode.guests %>
  <button id="start/stop">Start/Stop</button>
</div>
<div id="chat-box">
  <!-- Chat will go here -->
</div>
<div id="track-list">
  <!-- Download buttons for host will be visible here if recording has stopped -->
</div>
