  <div class="row">
    <h1 id="over-line-header" class="text-white page-header">Recording podcasts remotely is difficult.</h1>
    <h1 id="under-line-header" class="text-white text-right">WaveCastr makes it easy.</h1>
  </div>

<p id="welcome-description" class="h3 jumbotron text-white">A website for capturing high quality audio for podcasts or interviews. WaveCastr records from each participant's local machine and stores it in the cloud. Capturing audio locally preserves the quality and avoids voip compression. Having each participant's voice on a separate track makes it easy to produce great sounding podcasts with minimal setup.
</p>
