<div class="row">
  <h1 id="over-line-header" class="text-white page-header">Recording podcasts remotely is difficult.</h1>
  <h1 id="under-line-header" class="text-white text-right">WaveCastr makes it easy.</h1>
</div>

<div class="row">
  <div id="blurbs">
    <div class="blurb col-md-4 text-white">
      <i class="fa fa-3x fa-file-audio-o text-gold" aria-hidden="true"></i>
      <h3>Record Locally</h3>
      <p class="h4">Avoid VoIP compression and internet connection issues by recording in the browser.</p>
    </div>
    <div class="blurb col-md-4 text-white">
      <i class="fa fa-3x fa-volume-control-phone text-gold" aria-hidden="true"></i>
      <h3>Separate Tracks</h3>
      <p class="h4">Each user's audio is stored in a separate file to make editing easy.</p>
    </div>
    <div class="blurb col-md-4 text-white">
      <i class="fa fa-3x fa-mixcloud text-gold" aria-hidden="true"></i>
      <h3>Cloud Storage</h3>
      <p class="h4">Your files are securely stored in Amazon's S3 cloud storage platform allowing for fast retrieval.</p>
    </div>
  </div>
</div>
