/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "episodes";

/*****************************************************Global Options*****************************************************/

body {
  background-image: url('/images/background.jpg');
}

* {
  /*border:2px solid lightblue;*/
}


/*********************************************************Header*********************************************************/
.header logo {
  position: relative;
  top: -20px;
}

.header h1 a {
	color: #99AAAA;
  /*make font bold or something*/
  text-shadow: 1px 0 #212223;
  font-size: 60px;
  text-decoration: none;
  margin-top: 10px;
}

.header h1 a:visited {
  color: #99AAAA;
  /*make font bold or something*/
  text-shadow: 1px 0 #212223;
}

.header h1 a:hover {
  color: #99AAAA;
  /*make font bold or something*/
  text-shadow: 1px 0 #212223;
}



.header h1 {
  display: inline-block;
}


.nav-pills {
  display: inline-block;
  margin-top: 20px;
}

.sub-main {
  background: url("/podcast.jpg") no-repeat center center;
  background-size: cover;
  height:500px;
}

.heading h1{
  color: #fff;
  position: relative;
  top:200px;
  left:700px;
  font-size:46px;
  text-transform: uppercase;
}

.active {
  display: block;
}





/************************************Episode Page************************************/

/*Control Panel*/
#control-panel {
  text-align: center;
  margin-bottom: 10px;
}

#control-panel button {
  border-color: rgb(165, 157, 140);
  background-color: rgb(165, 157, 140);
  color: #FFFFFF;
}

#init.btn {
}

#start.btn {
  display: none;
}

#stopButton.btn {
  display: none;
}

/*Guest Panels */
#guest-panel {
  padding: 0px;
  text-align: left;
}

#guest-panel h3 {
  padding: 5px;
  margin: 0px;
}

#user-list-container {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  /*needs fixing of margin*/
  margin-top: 5%;

}

/*Main Divs*/
#left-container {
  height: 260px;
  margin-top: 40px;
  margin-bottom: 40px;

}

#right-container {
  height: 260px;
  margin-top: 40px;
  margin-bottom: 40px;
}

#bottom-files-container {
  background-color: rgba(33, 34, 35, .8);
  border: 1px solid rgba(33, 34, 35, .8);
  border-radius: 5px;
  padding-top: 20px;
  max-height: 140px;
  overflow-y: scroll;
}

.track.panel.panel-default {
  display: inline-block;
  width: 220px;
}

/*Chat Box*/
#input-box {
  padding-top: 3px;

}

#box {
  margin-left: auto;
  margin-right: auto;
}

#input {
  padding-left: 12px;
  width: 380px;
  border-radius: 5px;
  background-color: rgba(33, 34, 35, .8);
  border: 1px solid rgba(33, 34, 35, .8);
  color: rgba(190, 181, 166, 1);
}
#input:focus {outline:0;}

#send {
  border: 0px solid rgba(33, 34, 35, 1);
  border-radius: 5px;
  background-color: rgba(33, 34, 35, 1);
  color: #FFFFFF;
  width:118px;
}

#send:focus {outline:0;}

#chat-container {

  padding-left: 12px;
  background-color: rgba(33, 34, 35, .8);
  height: 200px;
  width: 500px;
  overflow: auto;
  border: 1px solid rgba(33, 34, 35, .8);
  border-radius: 5px;
  color: rgba(190, 181, 166, 1);
}

