/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "episodes";


/*****************************************************Global Options*****************************************************/

.alert, .notice {
  padding: 10px;
  margin: 10px 0;
  color: white;
  border-radius: 10px;
}

.alert {
  background-color: red;
}

.notice {
  background-color: green;
}

body {
  background-image: url('/images/background.jpg');
}

* {
  /*border:2px solid lightblue;*/
}

::-webkit-scrollbar {
    /*display: ;*/
  border-radius: 5px;
  width: 8px;
  background-color: rgba(33, 34, 35, .8);
  border: 1px solid rgba(33, 34, 35, .8);
}


/*********************************************************Header*********************************************************/

.header logo {
  position: relative;
  top: -20px;
}

.header h1 a {
	color: #99AAAA;
  /*make font bold or something*/
  text-shadow: 1px 0 #212223;
  font-size: 60px;
  text-decoration: none;
  margin-top: 10px;
}

.header h1 a:visited {
  color: #99AAAA;
  /*make font bold or something*/
  text-shadow: 1px 0 #212223;
}

.header h1 a:hover {
  color: #99AAAA;
  /*make font bold or something*/
  text-shadow: 1px 0 #212223;
}

.header h1 {
  display: inline-block;
}

.nav-pills {
  display: inline-block;
  margin-top: 20px;
}

/*.sub-main {
  background: url("/podcast.jpg") no-repeat center center;
  background-size: cover;
  height:500px;
}*/

.heading h1{
  color: #fff;
  position: relative;
  top:200px;
  left:700px;
  font-size:46px;
  text-transform: uppercase;
}


.active {
  display: block;
}

/************************************Episode Page************************************/

/*Control Panel*/
#control-panel {
  margin-top: 70px;
  text-align: left;
  margin-bottom: 20px;
}

#control-panel button {
  border-color: rgb(165, 157, 140);
  background-color: rgb(165, 157, 140);
  color: #FFFFFF;
}

#start.btn,
#stopButton.btn,
#present-share-link-modal,
#init:focus {outline:0;}


#init.btn {
  width: 44%;
}

/*.slide-container {
  margin-top: 40px;
}*/

#present-share-link-modal {
  margin-bottom: 5px;
  width: 44%;
}

#start.btn {
  display: none;
  width: 21.75%
}

#stopButton.btn {
  display: none;
  width: 21.75%
}

/******** Guest Panels ********/
#guest-panel {
  padding: 0px;
  text-align: left;
  background-color: rgba(33, 34, 35, .8);
  border: 1px solid rgba(33, 34, 35, .8);
  color: #FFFFFF;
  border-radius: 5px;
  padding: 10px;
  margin-right: 4px;
}

.panel {
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 5px;
}

.panel-default {
    border-color: transparent;
}


#guest-panel h3 {
  padding: 5px;
  margin: 0px;
}

#user-list-container {
  width: 44%;
  /*margin-top: ;*/
  overflow-y: scroll;
  /*max-height:*/
}

/*Main Divs*/
#left-container {
  height: 260px;
  margin-bottom: 60px;

}

#right-container {
  height: 260px;
  margin-bottom: 60px;
}

#bottom-files-container {
  border-radius: 5px;
  padding-top: 20px;
}

.track-body {
  padding: 8px;
}
.panel-default {
}

.track.panel.panel-default {
  text-align: center;
  background-color: rgba(33, 34, 35, .8);
  border: 1px solid rgba(33, 34, 35, .8);
  border-color: transparent;
  color: #FFFFFF;
  display: inline-block;
  width: 220px;
  overflow: hidden;
}

/*Chat Box*/
#input-box {
  padding-top: 3px;

}

#box {
  margin-left: auto;
  margin-right: auto;
}

#input {
  padding-left: 12px;
  width: 76%;
  border-radius: 5px;
  background-color: rgba(33, 34, 35, .8);
  border: 1px solid rgba(33, 34, 35, .8);
  color: rgba(190, 181, 166, 1);
}
#input:focus {outline:0;}

#send {
  border: 0px solid rgba(33, 34, 35, 1);
  border-radius: 5px;
  background-color: rgba(33, 34, 35, 1);
  color: #FFFFFF;
  margin-left: 1.4px;
  width:23%;
}

#send:focus {outline:0;}

#chat-container {

  padding-left: 12px;
  background-color: rgba(33, 34, 35, .8);
  height: 300px;
  width: 100%;
  overflow: auto;
  border: 1px solid rgba(33, 34, 35, .8);
  border-radius: 5px;
  color: rgba(190, 181, 166, 1);
}



/* homepage */
.main h1 {
  color: #FFFFFF;
  position:relative;
  top: 50px;
  left:100px;
}

.main-img img {
  text-align:right;
  height: 300px;
}

.sub-heading h2 {
  color:#fff;
  text-align: center;
  margin-bottom: 60px;
}
.sub-main button{
  color: #F9F9F9;
  padding: 10px 30px;
  background-color: #a59d8c;
  border-radius: 5px;
}

.sub-main button:focus {
  outline: none;
}

.sub-main p {
  color: #C7B185;
  padding-top: 20px;
}

.description1{
  display: none;
}
.description2{
  display: none;
}
.description3{
  display: none;
}

.footer{
  margin-top:200px;
}
.footer p {
  color: #C7B185;
}

/*************Share Link Modal*************/

.modal-content {
  color: #FFFFFF;
  background-color: rgba(33, 34, 35, 1);
  border: 1px solid rgba(33, 34, 35, 1);
}

#modal-content {
  background-color: #FFFFFF;
}

#copy-btn {
  color: #FFFFFF;
  border-color: rgb(165, 157, 140);
  background-color: rgb(165, 157, 140);
}

/**********Register Guest Button**********/
#register-guest-btn {
  color: #FFFFFF;
  border-color: rgb(165, 157, 140);
  background-color: rgb(165, 157, 140);
}



