// Place all the styles related to the episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.status-dot {
  display: inline-block;
  vertical-align: top;
  height: 37px;
  width: 20px;
  border-radius: 500px;

  padding: 4px;
}

.ready {
  color: #DAA520;
}

.waiting {
  color: #ffffff;
}

.error {
  color: #8B0000;
}

.recording {
	color: #006400;
}