.text-white {
  color: white;
}

.text-gold {
  color: #C7B185;
}

#over-line-header {
  margin-bottom: 0px;
  border-bottom: 1px solid #C7B185;
  font-size: 3.2em;
}

#under-line-header {
  margin-top: 10px;
  font-size: 3.2em;
}

#blurbs {
  margin-top: 100px;
}

.blurb {
  text-align: center;
}

.blurb p {
  margin: 20px auto;
  width: 75%;
}

#get-started-button {
  margin-top: 50px;
}

#get-started-button a {
  background-color: #a59d8c;
  border-color: #a59d8c;
}

.footer{
  margin-top:200px;
}

.footer p {
  color: #C7B185;
}

@media (max-width: 600px) {
  #tag-line h1 {
    text-align: center;
  }

  .header {
    font-size: .75em;
  }

  .header img {
    height: 60px;
  }
}

