.text-white {
  color: white;
}

.text-gold {
  color: #C7B185;
}

#over-line-header {
  margin-bottom: 0px;
  border-bottom: 1px solid #C7B185;
}

#under-line-header {
  margin-top: 10px;
}

#blurbs {
  margin-top: 100px;
}

.blurb {
  text-align: center;
}

.footer{
  margin-top:200px;
}
.footer p {
  color: #C7B185;
}

