<head>
  <title>Wavecastr</title>
  <link href="/images/wavecastr-icon.png" rel="icon">
  <link href="https://fonts.googleapis.com/css?family=Anton|Indie+Flower|Supermercado+One|Titillium+Web" rel="stylesheet">
  <script src="https://use.fontawesome.com/759e55b199.js"></script>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
