<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>
    <%= render "layouts/header" %>
    <div class="container">
      <div id="flash">
        <% flash.each do |name, msg| -%>
          <%= content_tag :div, msg, class: name unless name == "notice" %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
